<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>實聯制登記 - 所有診所列表</title>
    <!-- site_url 為返回assets資料夾路徑 -->
    <!-- <link rel="stylesheet" href="{{ '/css/style.css'|site_url }}"> -->
</head>
<style>
    table { border-collapse:collapse; width:100%; }
    th { background:#F5F5F5; }
    td,th { border:1px solid #DDD; padding:10px; text-align: center;}
    .rwd {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        margin: 1rem 0;
    }
    @media only screen and (min-width: 968px) {
        .rwd {
            margin: 1rem 3rem;
        }
    }
</style>
<body>
    <div class="rwd">
        <table>
            <thead>
                <tr>
                    <th>編號</th>
                    <th>名稱</th>
                    <th>前台</th>
                    <th>統計</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.cusid }}</td>
                    <td>{{ d.cusname }}</td>
                    <td><a href="{{ '/customer'|base_url }}?cusid={{d.cusid }}" target="__blank">{{ '/customer'|base_url }}?cusid={{d.cusid }}</a></td>
                    <td><a href="{{ '/list'|base_url }}?cusid={{d.cusid }}" target="__blank">{{ '/list'|base_url }}?cusid={{d.cusid }}</a></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <!-- site_url 為返回assets資料夾路徑 -->
    <!-- <script src="{{ '/js/index.js'|site_url }}"></script> -->
</body>
</html>